<!doctype html>

	<head>
		<title>Team Home</title>
		<style type="text/css">
			.blackbox { border: 1px solid black;margin-right:50%;
						margin-left:20%;
						padding:0.2em;
			}
		</style>
	</head>


	<body>
		<div style="margin-top:6em"></div>
		<form class="blackbox" method="POST" action="">
			<input  type="text" name="teamname" placeholder="Team number">
			</input>
			<br/>
		<input style="margin-left:1em" type="submit" value="Register"/>
		</form>
		<a style="margin-left:20%" href="loginteam"> account created ? Login here</a>


	</body>




</html>