<!doctype html>


	<head>
		<title> Manager Home</title>
		
		
	</head>



	<body>


		<h2> See current results </h2>
			<p> <a href="/current_results">Click to see Results </a>
			</p>
		<h2> Add question </h2>
	<div>
		<form method="POST" action="/submitquestion">
		Question text <input type="text" name="questiontext"></input><br/>
		option A<input type="text" name="optiona"></input><br/>
		option B<input type="text" name="optionb"></input><br/>
		option C<input type="text" name="optionc"></input><br/>
		option D<input type="text" name="optiond"></input><br/>k

		<input type="radio" name="answer" value="a">a</input>
		<input type="radio" name="answer" value="b">b</input>
		<input type="radio" name="answer" value="c">c</input>
		<input type="radio" name="answer" value="d">d</input>
		
		<input type="radio" name="type" value="single">single</input>
		<input type="radio" name="type" value="multiple">multiple</input>
		<input type="radio" name="type" value="text">text</input>
		<input type="submit" value="save question">
		<input type="reset" value="clear">
	    </form>
	</div>

	<form method="POST" action="/addteam">
		 <input type="text" name="institution" placeholder="Institution"/>
		 <input type="text" name="name_1" placeholder="Member 1"/>
		 <input type="text" name="name_2" placeholder="Member 2"/>
		 <input type="text" name="contact_no" placeholder="Contact No"/>
		 <input type="text" name="email" placeholder="Email"/>
		 <input type="submit" value="Create Team" />
	</form>



	</body>












</html>
